<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="demo website"/>
        <title>Nwankwo Osinachi 18CJ024134</title>
        <link rel="stylesheet" href="Style.css"/>
    </head>

    <body style="background-color: darkgray;" >
     <h1 style="text-align: left; margin-top: 45px; font-family: Courier, monospace;">  Azure Project</h1>
        <h1 style= "text-align: center; margin-top: 45px;">
            Percentage of people working less than 20 hours weekly
        </h1  >
        <article style="font-size: 24px; padding: 0 60px;">  
                 <span style="margin-left: 40px;font-family: Courier, monospace;">  </span>The graphs below show the percentage of people working less that 20hrs weekly.
                 This will help to understand trends and properly visualize the data 
        </article><br></br>
        <img style="margin-right: 120px;" src="../static/hbar1.png" width="90%" >
        <img style="margin-right: 120px;" src="../static/hbar2.png" width="90%" >
        <img style="margin-right: 120px;" src="../static/hbar3.png" width="90%" >
        
        
     <br></br> <br></br> <br></br>

        <article style="font-size: 24px; padding: 0 60px;">  
            <span style="margin-left: 40px;font-family: Courier, monospace;">  </span>The line graphs show the different measures of dispersion(as indicated), for the observation values in the bar plots above
   </article>
   <img style="margin-left: 200px;" src="../static/graph1.png" width="70%" >
   <img style="margin-left: 200px;" src="../static/graph2.png" width="70%" >
   <img style="margin-left: 200px;" src="../static/graph3.png" width="70%" >
   <img style="margin-left: 200px;" src="../static/graph4.png" width="70%" >
   <img style="margin-left: 200px;" src="../static/graph5.png" width="70%" >
   <img style="margin-left: 200px;" src="../static/graph6.png" width="70%" >

    </body>
    </body>
    </body>
    </body>
</html>